body {
  position: relative;
  min-height: 100%;
  overflow-y: visible;
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #4680c6;
}

body.show-nav {
  overflow: hidden;
}

:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #4680c6;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #1c314f;
  text-decoration: underline;
}

kbd {
  display: inline-block;
  background-color: #EEE;
  padding: 2px 5px;
  font-size: smaller;
  border: 1px solid #284671;
  border-radius: 3px;
  box-shadow: 0 2px 4px #284671;
}

.header {
  position: fixed;
  z-index: 1;
  left: 0; top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px black;
}

.social-container {
  position: relative;
  top: 2px;
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.social-container .social {
  transition-property: transform, background-color, border-radius;
  transition-duration: 0.3s;
  cursor: pointer;
  position: relative;
  z-index: 4;
  width: 40px;
  margin: 5px 10px;
  border-radius: 50%;
}

.social-container .social:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  border-radius: 0;
}

.social.facebook {
  background-color: #5072a6; /* from the PNG */
  background-image: linear-gradient( to right, #5072a6 0%, #5072a6 49%, #3460a2 50% );
}

.social.twitter {
  background-color: #2cb8e9; /* from the PNG */
  background-image: linear-gradient( to right, #2cb8e9 0%, #2cb8e9 49%, #1ca1d2 50% );
}

.social.linkedin {
  background-color: #2087ae; /* from the PNG */
  background-image: linear-gradient( to right, #2087ae 0%, #2087ae 49%, #10769f 50% );
}

.social.google {
  background-color: #e1422a; /* from the PNG */
  background-image: linear-gradient( to right, #e1422a 0%, #e1422a 49%, #c52514 50% );
}

.main-logo {
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 235px;
  float: left;
  margin: 5px 0 3px;
}

.link-container {
  position: relative;
  top: 6px;
  display: inline-block;
  float: right;
  margin-right: 4px
}

.link-container .button {
  cursor: pointer;
  display: inline-block;
  margin: 5px 5px 0 0;
  padding: 5px 8px;
}

.top-nav-link-container {
  display: none;
  text-align: right;
  margin-right: 58px; /* menu button width + 20 for margin */
}

.top-nav-link-container .button {
  margin: 5px;
}

.big-button {
  display: inline-block;
  margin: 5px auto;
  padding: 6px 10px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 100;
  color: white;
  background-color: #4680c6;
  border: none;
}

.link-container .big-button {
  display: block;
  width: auto;
}

.positioning-root {
  position: relative;
  display: inline-block;
}

.nav-button {
  cursor: pointer;
  display: none;
  float: right;
  height: 31px;
  margin: 5px 10px 0 0;
  padding: 8px;
  background-color: transparent;
  border-radius: 3px;
  border: none;
}

.nav-button:hover,
.nav-button:focus {
  outline: none;
}

.nav-button:active,
.show-nav .nav-button {
  padding: 7px;
  background-color: #DDD;
  box-shadow: inset 0 0 5px #999;
  border: 1px solid #DDD;
}

.nav-button:active {
  background-color: #CCC;
}

.nav-button-inner {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 15px;
  background-color: #4680c6;
}

.show-nav .nav-button-inner {
  background-color: transparent;
}

.nav-button-inner::before,
.nav-button-inner::after {
  transition-property: top, bottom, background-color, box-shadow, transform;
  transition-duration: 0.3s;
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: white;
}

.nav-button:active .nav-button-inner::before,
.nav-button:active .nav-button-inner::after {
  transition-duration: 0s;
}

.nav-button-inner::before {
  top: 3px;
}

.nav-button-inner::after {
  bottom: 3px;
}

.nav-button:active .nav-button-inner::before,
.nav-button:active .nav-button-inner::after {
  background-color: #DDD;
}

.show-nav .nav-button-inner::before,
.show-nav .nav-button-inner::after {
  background-color: red;
  box-shadow: 0 0 3px red;
}

.show-nav .nav-button:active .nav-button-inner::before,
.show-nav .nav-button:active .nav-button-inner::after {
  background-color: darkred;
  box-shadow: 0 0 3px darkred;
}

.show-nav .nav-button-inner::before {
  top: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.show-nav .nav-button-inner::after {
  bottom: 6.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.top-nav {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.top-nav ul {
  margin: 0;
  padding: 0;
}

.top-nav .nav-item {
  transition-property: border-color;
  transition-duration: 0.3s;
  cursor: default;
  position: relative;
  display: inline-block;
  margin: 0 20px;
  font-size: 24px;
  font-weight: 300;
  /*border-bottom: 3px solid transparent;*/
}

.top-nav .nav-item.no-link {
  padding: 6px 12px;
}

.top-nav .nav-link {
  transition: color 0.3s;
  display: inline-block;
  padding: 6px 22px 3px;
  color: inherit;
  text-decoration: inherit;
}

.top-nav .nav-item .drop-menu .nav-link {
  color: white;
}

.top-nav .nav-item .drop-menu .nav-link:hover {
  color: #1c314f;
}

.top-nav .nav-item:hover,
.top-nav .nav-item.force-hover {
  color: #4680c6;
  /*border-bottom-color: #4680c6;*/
}

.drop-menu.centered {
  text-align: center;
}

.top-nav .drop-menu {
  transition-property: visibility, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 100%;
  box-sizing: border-box;
  width: 200px;
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  text-align: left;
  background-color: #1c314f;
  border-top: 3px solid #4680c6;
  box-shadow: 0 4px 8px #1c314f;
}

.top-nav .nav-item:hover .drop-menu {
  visibility: visible;
  opacity: 1;
}

.top-nav .force-hover .drop-menu {
  visibility: visible;
  opacity: 1;
}

.top-nav .force-hover .nav-item .drop-menu {
  transition-delay: 0s;
}

.top-nav .menu-item {
  transition: background-color 0.3s;
  display: block;
  margin: 2px 0;
}

.top-nav .menu-item.no-link {
  padding: 3px 10px;
}

.top-nav .menu-item .nav-link {
  display: block;
  padding: 3px 10px;
}

.top-nav .menu-item:hover {
  background-color: #4680c6;
}

.top-nav input:focus {
  outline: none;
}

.top-nav input[type="text"].menu-item {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  color: white;
  background-color: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

.top-nav input[type="text"].menu-item:first-child {
  margin-top: -5px;
}

.top-nav input[type="text"].menu-item:last-child {
  margin-bottom: -5px;
}

.footer {
  padding: 20px 0;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  color: white;
  background-color: #1c314f;
  box-shadow: 0 0 5px #1c314f;
}

@media(max-width: 750px) {
  .footer {
    font-size: 20px;
  }
}

.main {
  box-sizing: border-box;
  height: 100%;
  /*min-height: 100%;*/
  padding-top: 90px;
  overflow-y: visible;
  margin: 0 auto;
  text-align: center;
}

/* medium sized: shift nav bar to right */
@media(max-width: 1075px) {
  .top-nav {
    text-align: right;
  }

  .top-nav .nav-item {
    margin: 0 16px;
  }
}

/* small sized: make nav bar a slide out menu (from the right) */
@media(max-width: 885px) {
  body {
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .main-logo {
    width: auto;
    height: 45px;
  }

  .nav-button {
    position: relative;
    top: 7px;
    z-index: 6;
    display: inline-block;
  }

  .top-nav {
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
    position: fixed;
    z-index: 4;
    right: -300px;
    top: 0;
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    padding-top: 44px;
    overflow-y: scroll;
    text-align: left;
    background-color: #EEE;
    box-shadow: inset 0 0 15px #999;
  }

  .show-nav .top-nav {
    right: 0;
  }

  .top-nav .nav-item {
    display: block;
  }

  .top-nav .nav-link {
    display: block;
    padding: 6px 0;
    /*border-bottom: 1px solid #666;*/
  }

  .top-nav .drop-menu {
    position: static;
    display: block;
    visibility: visible;
    width: 100%;
    opacity: 1;
    color: inherit;
    background-color: transparent;
    box-shadow: none;
  }

  .top-nav .drop-menu .menu-item .nav-link {
    color: black;
  }

  .top-nav input[type="text"].menu-item {
    color: black;
    background-color: white;
  }

  .main {
    padding-top: 55px;
  }

  .full .main {
    padding-top: 0;
  }
}

/* Even smaller: hide login and contact links, show them in pop out menu instead */
@media(max-width: 630px) {
  .social-container {
    margin-right: 5px;
  }

  .social-container .social {
    margin: 5px;
  }

  .link-container {
    display: none;
  }
  
  .top-nav {
    padding-top: 15px;
  }

  .top-nav-link-container {
    display: block;
  }
}

body.full {
  position: absolute;
  left: 0; top: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 0;
}

body.full .header,
body.full .footer {
  position: relative;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

body.full .main {
  position: relative;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

body.full #fragment-container,
body.full .main .section {
  position: absolute;
  left: 0; top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.page-header {
  margin: 0 0 20px;
  font-size: 40px;
  font-weight: 100;
  text-shadow: 0 0 5px rgba( 0, 0, 0, 0.5 );
}

.section,
.section.split {
  padding: 20px;
}

.section:nth-child(even) {
  background-color: rgba( 255, 255, 255, 0.5 );
}

.section:nth-child(odd) {
  background-color: rgba( 255, 255, 255, 0.8 );
}

.section-header {
  margin: 0 0 10px;
  font-size: 36px;
  font-weight: 100;
}

.page-subheader,
.section-subheader {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 100;
}

.section-button {
  display: inline-block;
  padding: 15px;
  font-size: 20px;
}

.link-container .button,
.section-button {
  font-weight: 100;
  color: white;
  background-color: #4680c6;
  box-shadow: 0 1px 3px #666;
  border-radius: 3px;
}

.link-container .button:hover, 
.section-button:hover {
  text-decoration: none;
  background-color: #3f73b2;
}

.link-container .button:active,
.section-button:active {
  text-decoration: none;
  color: #3f73b2;
  background-color: white;
  outline: 2px solid #3f73b2;
}

.text-input {
  transition-property: color, border-color;
  transition-duration: 0.3s;
  box-sizing: border-box;
  width: 100%;
  margin: 3px 0;
  padding: 5px;
  font: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
}

.text-input:focus {
  padding-bottom: 4px;
  color: #1c314f;
  border-bottom: 2px solid #1c314f;
  outline: none;
}

.split {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
}

.split > div {
  margin-right: 20px;
}

.split > div:first-child {
  margin-left: 20px;
}

.section .split > div:first-child {
  margin-left: 0;
}

.section .split > div:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.split-2 > div {
  width: 50%;
}

@media(max-width: 1000px) {
  .split {
    flex-wrap: wrap;
  }

  .split-2 > div {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.fragment-path {
  color: #284671;
}

.fragment-path::before,
.fragment-path::after {
  content: "'";
}

.video-container {
  height: 500px;
}

.story-slider {
  overflow-x: scroll;
}

.story {
  position: relative;
  overflow: hidden;
  font-size: 0;
}

.story .image {
  width: 100%;
}

.story .text {
  position: absolute;
  left: 0; bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  text-align: left;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
}

.story .title {
  transition-property: margin-bottom, padding-bottom, border-bottom-width;
  transition-duration: 0.3s;
  margin: 0;
  font-size: 18px;
  border-bottom: 0px solid black;
}

.story .content {
  transition-property: max-height;
  transition-duration: 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 0;
  margin: 0;
  font-size: 12px;
}

.story:hover .title {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom-width: 1px;
}

.story:hover .content {
  max-height: 150px;
}

.list {
  padding-left: 0;
  text-align: left;
}

.no-bullet {
  list-style-type: none;
}

.block-list {
  list-style-type: none;
}

.block-list > li {
  display: block;
}

.top-donors {
  list-style-type: none;
  text-align: left;
}

.top-donors .name {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.top-donors .meals {
  color: #666;
}

.top-donors .meals::after {
  content: " meals";
}

.big-input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 20px 30px;
  font-family: inherit;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  border: none;
}

.location-search {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.location-search .big-input {
  flex: 0 0 auto;
}

.location-list {
  overflow-y: scroll;
  margin-top: 20px;
}

.location {
  margin-top: 20px;
}

.location:first-child {
  margin-top: 0;
}

.location .name {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  background-color: white;
}

.location .address {
  margin: 0;
  padding: 5px 10px;
  font-weight: 300;
  background-color: #EEE;
}

.partner-grid {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}

.partner {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  width: 50%;
  width: calc(50% - 5px);
  height: 150px;
  margin-bottom: 10px;
  padding-left: 150px;
  text-align: left;
}

.partner:nth-child(odd) {
  margin-right: 10px;
}

.partner .image {
  transition: opacity 0.3s;
  position: absolute;
  left: 0; top: 0;
  width: 150px;
  height: 150px;
  opacity: 0.7;
  background-position: center;
}

.partner .name {
  transition: background-color 0.3s;
  margin: 0;
  padding: 10px;
}

.partner .description {
  transition: background-color 0.3s;
  box-sizing: border-box;
  height: 108px; /* 150 (partner height) - 42 (name height) */
  padding: 10px;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}

.partner:hover .image {
  opacity: 1;
}

.partner:hover .name {
  background-color: #EEE;
}

.partner:hover .description {
  background-color: white;
}

