@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #4680c6;
  background-image: linear-gradient( to bottom, #284671, #4680c6 );
  background-image: -webkit-linear-gradient( to bottom, #284671, #4680c6 );
  background-image: -moz-linear-gradient( to bottom, #284671, #4680c6 );
  background-image: -o-linear-gradient( to bottom, #284671, #4680c6 );
  background-repeat: repeat-x;
}

.header {
  background-color: white;
  box-shadow: 0 0 5px black;
}

.top-nav {
  text-align: center;
}

.top-nav ul {
  margin: 0;
  padding: 0;
}

.top-nav .nav-item {
  transition-property: color, background-color;
  transition-duration: 0.3s;
  cursor: default;
  position: relative;
  display: inline-block;
  margin: 0 20px;
  font-size: 24px;
  font-weight: 300;
}

.top-nav .nav-item.no-link {
  padding: 6px 12px;
}

.top-nav .nav-link {
  display: inline-block;
  padding: 6px 12px;
  color: inherit;
  text-decoration: inherit;
}

.top-nav .nav-item::before,
.top-nav .nav-item::after {
  transition: border-color 0.3s;
  content: "";
  position: absolute;
  top: 0;
  display: inline-block;
  border-top: 45px solid white;
}

.top-nav .nav-item::before {
  left: -10px;
  border-right: 10px solid transparent;
}

.top-nav .nav-item::after {
  right: -10px;
  border-left: 10px solid transparent;
}

.top-nav .nav-item:hover {
  color: white;
  background-color: #1c314f;
}

.top-nav .nav-item:hover::before {
  border-right-color: #1c314f;
}

.top-nav .nav-item:hover::after {
  border-left-color: #1c314f;
}

.top-nav .drop-menu {
  transition-property: visibility, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -10px;
  top: 100%;
  box-sizing: border-box;
  width: calc( 100% + 20px );
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  text-align: left;
  background-color: #1c314f;
  box-shadow: 0 0 8px #1c314f;
}

.top-nav .nav-item:hover .drop-menu {
  transition-delay: 0.5s;
  visibility: visible;
  opacity: 1;
}

.top-nav .menu-item {
  transition: background-color 0.3s;
  display: block;
  margin: 2px 0;
}

.top-nav .menu-item.no-link {
  padding: 3px 10px;
}

.top-nav .menu-item .nav-link {
  display: block;
  padding: 3px 10px;
}

.top-nav .menu-item:hover {
  background-color: #4680c6;
}

.main {
  /*background-image: linear-gradient( to bottom, #284671, #4680c6 );
  background-image: -webkit-linear-gradient( to bottom, #284671, #4680c6 );
  background-image: -moz-linear-gradient( to bottom, #284671, #4680c6 );
  background-image: -o-linear-gradient( to bottom, #284671, #4680c6 );*/
}